body {
    background-color: #51596d;
    margin: 0;
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*Left navigation bar*/
div.leftmenu ul {
    top: 0px;
    left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    width: 20%;
    background-color: #393f4d;
    position: fixed;
    height: 70%;
    overflow: auto;
    border-right: 5px solid #252933;

}
div.leftmenu li {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    font-size: 0.9vw;
    word-wrap: break-word;
}
div.leftmenu li:hover  { background-color: #535c70; font-size: 1vw; }
div.leftmenu label {
    display: block;
    color: #feda6a;
    font-weight: bold;
    padding: 10px 0px 5px 0px;
    text-align: left;
    font-size: 1vw;
    border-top: 2px solid #535c70;
    border-bottom: 2px solid #535c70;
}

/*Left navigation bar*/

div.leftinfo ul {
    top: 70%;
    left: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    width: 20%;
    height: 25%;
    background-color: #393f4d;
    position: fixed;
    overflow: auto;
    border-right: 5px solid #252933;
}
div.leftinfo li {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    font-size: 0.8vw;
    word-wrap: break-word;
}
div.leftinfo li:hover  { background-color: #535c70; font-size: 0.9vw; }

div.leftinfo p {
    margin: 0;
    display: block;
    color: #feda6a;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    text-align: left;
    font-size: 1vw;
    border-top: 2px solid #535c70;
    border-bottom: 2px solid #535c70;
}

div.leftinfo p:hover { background-color: #535c70; font-size: 1.1vw; }


div.leftoptions table {
    padding: 0px;
    margin: 0;
    font-size: 0.9vw;
    bottom: 0px;
    left: 0px;
    position:fixed;
    height: 5%;
    background-color: #393f4d;
    color: #feda6a;
    margin-right: 10px;
    width: calc(20% + 5px);
    border-right: 5px solid #252933;
    padding: 5px 0px 5px 0px;
}

td:hover { 
    transition: background-color 0.7s ease-in; 
    background-color: #8f9dbf;
}

div.leftmenu img {
    width: 100%;
    height: auto;
}

div.leftoptions img {
    width: 20px;
    height: 20px;
}
div.leftoptions input {
    width: 20px;
    height: 20px;
}

/*create button at the right bottom corner*/
div.create {
    position: fixed;
    bottom: 60px;
    right: 120px;
}
div.create input {
    width: 60px;
    height: 60px;
    opacity: 0.7;
}

#home {
    position: fixed;
    bottom: 60px;
    right: 50px;
}
div.create input:hover { opacity: 1; -webkit-filter: brightness(150%); }
/*create button at the right bottom corner*/

table.topmenu {
    position: sticky;
    top: 0px;
    width: calc(80% - 4px);
    margin-right: 0px;
    margin-left: auto;
    border: 1px solid black;
    padding: 3px;
    color: #feda6a;
    background-color: #495163;
    font-size: 0.9vw;
    border-radius: 3px;
}

table.topmenu td {
    border: 1px solid black;    
    border-radius: 3px;
}
table.topmenu tr {
    padding: 4px;
}


table.answers {
    top: 0px;
    width: calc(80% - 4px);
    margin-right: 0px;
    margin-left: auto;
    border: 1px solid black;
    padding: 3px;
    color: #feda6a;
    background-color: #495163;
    font-size: 0.9vw;
    border-radius: 3px;
    /*border-collapse:separate; 
    border-spacing:0.5em;*/
}

table.answers td {  
    border-right: 3px solid black;    
    /*border-radius: 3px;*/
    max-width: 100px;
    overflow: hidden;
    table-layout: fixed;
    word-wrap:break-word;
}
table.answers tr {
    padding: 4px;
    background-color: #495163;
}

table.answers img {
    width: 100px;
    height: 100px;
}


/*sort_by right bottom corner*/
form.sortby {
    position: fixed;
    bottom: 30px;
    right: 10px;
}
form.sortby input {
    border-radius: 5px;
    background-color: #393f4d;
    color: white;
    border: 5px solid #252933;
}
form.sortby select {
    border-radius: 5px;
    background-color: #393f4d;
    color: white;
    border: 5px solid #252933;
}







/*table.answers {
    top: 0px;
    width: calc(80% - 5px);
    margin-right: 5px;
    margin-left: auto;
    border-radius: 5px;
    border-spacing: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    color: white;
    box-shadow: 10px -4px 25px 2px rgba(0,0,0,0.75);
    margin-top: 0px;
    word-wrap:break-word;
    table-layout:fixed;
}
table.answers textarea {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0px;
    background-color: #393f4d;
    color: white;
}
table.answers td {
    padding: 5px;
    background-color: #393f4d;
}
table.answers td:hover {background-color: inherit;}*/