body {
    width: 100%;
    margin: 0px;
    background-image: url("pictures/background.png");
    background-position: fixed;
    background-size:cover;
}
p {
    color: #feda6a;
}
div.recovery {
    margin-top: 13%;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}
div.recovery form{
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    background-color: #2d2d2d;
    padding: 10px 10px 5px 10px;   
    color: white;
    font-size: 0.9vw;
    padding: 20px;
}

div.recovery input{
    padding: 5px;
}
/*create button at the right bottom corner*/
div.create {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 60px;
    right: 50px;
}
div.create input {
    width: 60px;
    height: 60px;
    opacity: 0.7;
}
div.create input:hover { opacity: 1; -webkit-filter: brightness(150%); }
/*create button at the right bottom corner*/