<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
  </head>
  <body>
      <div>
          <h1>404 ERRRORR!!!! Sorry, but it seems like you fucked something up.
               One thing is for sure, we didn't, we are the Cödermeisters!</h1>
          <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t34.0-12/18387163_1336403383106114_970496745_n.jpg?oh=890f1783321157e678d3530cab8f47bf&oe=59155BD4" alt="Cödermeisters">
      </div>
  </body>
</html>