<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
  </head>
  <body>
      <div>
          <h1>404 ERRRORR!!!! Sorry, but it seems like you fucked something up.
               One thing is for sure, we didn't</h1>
          <img src="https://scontent-vie1-1.xx.fbcdn.net/v/t34.0-12/18685693_1350135741732878_310299245_n.png?oh=94df859ab6325c01e3c4c3037c196215&oe=5929F079" alt="Cödermeisters">
      </div>
  </body>
</html>