    <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_user.css') }}">
  </head>
  <body>
        <div class="topbar">
            {% if session.username: %}
                <a href="/logout" id="logout">logout</a>
                <a id = "loggedin" href="/login">Members Area</a>
                <a id="loggedin">Your role: <span style="color: #feda6a; font-size: 1vw;">{{ session.role }}</span>!</a>
                <a id="loggedin">Welcome <span style="color: #feda6a; font-size: 1vw;">{{ session.username }}</span>!</a>
            {% else %}
                <a id = "membersarea" href="/login">Members Area</a>
            {% endif %}
            <a href="/">Home</a>
            <a href="/new_question">New question</a>
            <a href="/users">User list</a>
        </div>
        
        <div>
            {% with messages = get_flashed_messages() %}
                <p id="keyframes">{{ messages[0] }}</p>
            {% endwith %}
            <form action='/{{ user_id }}/edit_user' method='POST'>
                <table>
                    <tr>
                        {% for data in user_data %}
                        <td>{{ data }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                    <td>Only fill those inputs you wish to change!!</td>
                    </tr>
                    <tr>
                        <td>new_username</td>
                        <td><input id="username" type="text" name="new_username"></td>
                    </tr>

                    <tr>
                        <td>new_password</td>
                        <td><input id="password" type="password" name="new_password"></td>
                    </tr>

                    <tr>
                        <td>new_email</td>
                        <td><input id="password" type="email" name="new_email"></td>
                    </tr>

                    <tr>
                        <td>
                            <select name="new_role">
                            <option value="user">user</option>
                            <option value="admin">admin</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Do you wish to delete this user?</td>
                        <td>
                            <select name="delete_user">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td><input type='submit' value='Send'></td>
                    </tr>

                </table>
            </form>
        </div>
        <div class="buttons">

            <a class="home" href="/">
                <img src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png" height="50px" width="50px"/>
            </a>

        </div>
  </body>
</html>