    <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  </head>
  <body>
        <div class="topbar">
            {% if session.username: %}
                <a href="/logout" id="logout">logout</a>
                <a id = "loggedin" href="/login">Members Area</a>
                <a id="loggedin">Your role: <span style="color: #feda6a; font-size: 1vw;">{{ session.role }}</span>!</a>
                <a id="loggedin">Welcome <span style="color: #feda6a; font-size: 1vw;">{{ session.username }}</span>!</a>
            {% else %}
                <a id = "membersarea" href="/login">Members Area</a>
            {% endif %}
            <a href="/">Home</a>
            <a href="/new_question">New question</a>
            <a href="/users">User list</a>
        </div>
        
        <div>
            {% with messages = get_flashed_messages() %}
                <p id="keyframes">{{ messages[0] }}</p>
            {% endwith %}
            <form action='/login' method='POST'>
                <table>

                    {% if session.role == 'user' or session.role == 'admin' %}
                    <tr>
                        <td colspan="2">MEMBERS AREA</td>
                    </tr>
                    <tr>
                        <td colspan="2">-------------------</td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="/password_recovery">Password recovery!</a></td>
                    </tr>

                    <tr>
                        <td colspan="2"><a href="/change_password">Change your password</a></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">MEMBERS AREA</td>
                    </tr>

                    <tr>
                        <td>Username</td>
                        <td><input id="username" type="text" name="username"></td>
                    </tr>

                    <tr>
                        <td>Password</td>
                        <td><input id="password" type="password" name="password"></td>
                    </tr>
                    
                    <tr>
                        <td colspan="2"><input id="login_button"type='submit', value='Login'></td>
                    </tr>

                    <tr>
                        <td colspan="2"><a href="/registration">Register!</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="/password_recovery">Password recovery!</a></td>
                    </tr>

                    <tr>
                        <td colspan="2"><a href="/change_password">Change your password</a></td>
                    </tr>
                    {% endif %}


                </table>
            </form>
        </div>
        <div class="buttons">

            <a class="home" href="/">
                <img src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png" height="50px" width="50px"/>
            </a>

        </div>
  </body>
</html>