<!doctype hmtl>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AskMate - {{ webpage_title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">
    </head>
    <body>
        <div class="topbar">
            {% if session.username: %}
                <a href="/logout" id="logout">logout</a>
                <a id = "loggedin" href="/login">Members Area</a>
                <a id="loggedin">Your role: <span style="color: #feda6a; font-size: 1vw;">{{ session.role }}</span>!</a>
                <a id="loggedin">Welcome <span style="color: #feda6a; font-size: 1vw;">{{ session.username }}</span>!</a>
            {% else %}
                <a id = "membersarea" href="/login">Members Area</a>
            {% endif %}
            <a href="/">Home</a>
            <a href="/new_question">New question</a>
            <a href="/users">User list</a>
        </div>
        
        <div class="updatediv">
            <p>{{ details[4] }}</p>
            <p>{{ details[5] }}</p>
            <h2>Your comment:</h2>
            <button><a href='/question/{{ question_id }}'>Back</a></button>

            <form action='/{{ action_variable }}/{{ details[0] }}/new_comment' method='POST'>
                <textarea rows='5' cols='70' name='answer' minlength='10'></textarea>
                <br><br>
                <input type='submit', value=' Send '>
            </form>
        </div>
        
        <div class="create">
            <a id="home" href="/">
                <img src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png" height="50px" width="50px"/>
            </a>
        </div>
    </body>
</html>