<!DOCTYPE html>
<html>

    <head>
        <title>New Question</title>
    </head>

        <body>
            <h3>New Question</h3>

            <form action="/new_question" method="POST">
                Short title of question: 
                <input type="text" name="new_question">
                <br><br>
                Please explain if neccessary:
                <textarea type="text" name="new_question_long" ></textarea>
                <br>
                <input id=submit_new_question type="Submit" value="Add new question">

            </form>

        </body>

</html>