<!doctype hmtl>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AskMate - {{ webpage_title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">
    </head>
    <body>
        <div class="updatediv">
            <h1>Question:</h1>
            <p>Title: {{ question[4] }}</p>
            <p>Description: {{ question[5] }}</p>
            <h2>Your answer:</h2>
            <button><a href='/question/{{ question[0] }}'>Back</a></button>
            <form action='/question/{{ question[0] }}/new_answer' method='POST'>
                <textarea rows='5' cols='70' name='answer' minlength='10'></textarea>
                <input id=picture_url type="text" name="picture" placeholder="http://example.url/picture.png">
                <br><br>
                <input type='submit', value=' Send '>
            </form>
        </div>

        <div class="create">
            <a id="home" href="/">
            <img src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png" height="50px" width="50px"/>
            </a>
        </div>
    </body>
</html>