<!doctype hmtl>
<html>
    <head>
        <title>AskMate - {{ webpage_title }}</title>
    </head>
    <body>
        <h1>Question:</h1>
        <p>{{ question[4] }}</p>
        <p>{{ question[5] }}</p>
        <h2>Your answer:</h2>
        <p><button><a href='/index'>Back</a></button></p>
        <form action='/question/{{ question[0] }}/new_answer' method='POST'>
            <textarea rows='5' cols='100' name='answer'></textarea>
            <input type='submit', value=' Send '>
        </form>
    </body>
</html>