<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='password_recovery.css') }}">
  </head>
  <body>
    <div class="recovery">
        <form action='/password_recovery' method='POST'>
            <p>Type in your email adress to receive a new password to your email.</p>
            <label for="email">Your email adress: </label>
            <input id="email" type="text" name="email">
            <input id="login_button"type='submit', value='Send'>
        </form>
    </div>
  </body>
</html>