<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='password_recovery.css') }}">
  </head>
  <body>
    <div class="topbar">
      {% if session.username: %}
        <a href="/logout" id="logout">logout</a>
        <a id = "loggedin" href="/login">Members Area</a>
        <a id="loggedin">Your role: <span style="color: #feda6a; font-size: 1vw;">{{ session.role }}</span>!</a>
        <a id="loggedin">Welcome <span style="color: #feda6a; font-size: 1vw;">{{ session.username }}</span>!</a>
      {% else %}
        <a id = "membersarea" href="/login">Members Area</a>
      {% endif %}
      <a href="/">Home</a>
      <a href="/new_question">New question</a>
      <a href="/users">User list</a>
    </div>
    <div class="recovery">
        <form action='/password_recovery' method='POST'>
            <p>Type in your email adress to receive a new password to your email.</p>
            <label for="email">Your email adress: </label>
            <input id="email" type="text" name="email">
            <input id="login_button"type='submit', value='Send'>
        </form>
    </div>
  </body>
</html>