<!DOCTYPE html>

<html>

<head>
    <title>AskMate - {{ webpage_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='answers.css') }}">
</head>
<body>
    <div class="leftmenu">
        <ul>
            <label for="title">Question:</label>
            <li id="title">{{ question[4] }}</li>

            <label for="question">Description:</label>  
            <li id="question">{{ question[5] }}</li>

            <label for="question">Image:</label>  
            <li id="question"><img class="uploaded" src="{{ question[6] }}"></li>
        </ul>
    </div>

    <div class="leftinfo">
        <ul>
            <p>ID: {{ question[0] }}</p> 
            <p>Created at: {{ question[1] }}</p>  
            <p>Views: {{ question[2] }}</p>  
            <p>Votes: {{ question[3] }}</p>
        </ul>
    </div>

    <div class="leftoptions">
        <table>
            <tr>
                <td>
                    <a href= /question/{{ question[0] }}/edit>
                        <img src="http://www.argus-tv.com/wiki/images/e/eb/ICN_EDIT_GREEN.PNG"/>
                    </a>
                </td>

                <td>
                    <form action="/question/{{ question[3] }}/delete" method="post">
                        <input type="image" src="http://www.freeiconspng.com/uploads/garbage-bin-png-12.png"/> 
                    </form>
                </td>

                <td>
                    <a href="/like/{{ question[0] }}/1"> <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png"/></a>
                </td>

                <td>
                    <a href="/like/{{ question[0] }}/0"> <img src="http://www.freeiconspng.com/uploads/dislike-button-png-1.png"/></a>
                </td>
            </tr>  
        </table>
    </div>

    <!--<table class="topmenu">
        <tr>
            <td width="8%">ID</td>
            <td width="8%">Question ID</td>
            <td width="8%">Submission Time</td>
            <td width="8%">Votes</td>
            <td width="55%">Message</td>
            <td width="20%">Image</td>
        </tr>
    </table>-->

        {% for items in answers %}
        <table class="answers">
            <tr class="atrib">
                <td width="50px">ID: {{ items[0] }}</td>
                <td width="100px">Question ID: {{ items[3] }}</td>
                <td>Submission Time: {{ items[1] }}</td>
                <td>Votes: {{ items[2] }}</td>
                <td>
                    <form action="/answer/{{ items[0] }}/delete" method="post">
                        <input type="image" src="http://www.freeiconspng.com/uploads/garbage-bin-png-12.png" width="20px" height="20px"/> 
                    </form>
                </td>
            </tr>
        </table>
        <table class="answers">
            <tr class="text">
                <td width="70%">{{ items[4] }}</td>
                <td width="30%"><img class="uploaded" src="{{ question[5] }}"></td>
            
            </tr>
        </table>
        <p></p>
        {% endfor %}

    <div class="create">
      <form action="/question/{{ question[0] }}/new_answer">
          <input type="image" src="http://www.freeiconspng.com/uploads/add-create-new-plus-icon-26.png"/>
      </form>
      <form id="home" action="/">
          <input type="image" src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png"/>
      </form>
  </div>
    <!--<form class="sortby" action="/sortby" method="POST">
      <select id="sort" name="sortby" required>
          <option value="ID">ID</option>
          <option value="created">Create date</option>
          <option value="views">Views</option>
          <option value="votes">Votes</option>
          <option value="title">Question</option>
      </select>
      <label for="sort" ><input id="sortit" type="submit" value="Sort it!" /></label>
    </form>-->
  </div>
</body>
</html>