<!doctype hmtl>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AskMate - Registration</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
    </head>
    <body>
        <div class="registration">
            <h1>Register Now for FREE</h1>
            <form class="registration" action="/registration" method="POST">
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input id=username type="text" name="usrname" minlength=4 placeholder="Enter your username.." required></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input id=password type="password" name="pass" minlength=6 placeholder="Enter your password.." required></td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td><input id=email type="text" name="mail" minlength=4 placeholder="Enter a valid e-mail address.." required></td>
                    </tr>
                    <tr>
                        <td colspan="4"><input id=submit_registration type="Submit" value="Register">
                </table> 
            </form>
        </div>
    </body>
</html>