<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">
  </head>
  <body>
      <div class="topbar">
        {% if session.username: %}
          <a href="/logout" id="logout">logout</a>
          <a id = "loggedin" href="/login">Members Area</a>
          <a id="loggedin">Your role: <span style="color: #feda6a; font-size: 1vw;">{{ session.role }}</span>!</a>
          <a id="loggedin">Welcome <span style="color: #feda6a; font-size: 1vw;">{{ session.username }}</span>!</a>
        {% else %}
          <a id = "membersarea" href="/login">Members Area</a>
        {% endif %}
        <a href="/">Home</a>
        <a href="/new_question">New question</a>
        <a href="/users">User list</a>
      </div>
      
      <div class="updatediv">
          <h1>Update your question</h1>
          <form class="update" action="/question/{{ id }}/edit", method="POST">
          <label for id="question_area"></label>
          <textarea type="text" id="question_area" name="question_update">{{ selected_question[0] }}</textarea>
          <textarea type="text" id="question_area" name="message_update">{{ selected_question[1] }}</textarea>
          <input id="submit" type="submit" value="Update it!" />
          </form>
      </div>

      <div class="create">
        <a id="home" href="/">
          <img src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png" height="50px" width="50px"/>
        </a>
      </div>
  </body>
</html>