<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>AskMate - Users</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
    </head>
    <body>
        <table class='header'>
            {% for title in table_header %}
                <td width='10%'>{{ title }}</td>
            {% endfor %}
        </table>
        <table class='users'>
            {% for user in users %}
                <tr>
                    <td width='10%'>{{ user[1] }}</td>
                    <td width='10%'>{{ user[2] }}</td>
                    <td width='10%'>{{ user[3] }}</td>
                    <td width='10%'>{{ user[4] }}</td>
                    {% if session.role == 'admin' %}
                        <td>
                            <a href="/{{ user[0] }}/edit_user">
                                <img src="http://www.argus-tv.com/wiki/images/e/eb/ICN_EDIT_GREEN.PNG"/>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <p><a href='/'><img src="http://icons.iconarchive.com/icons/robsonbillponte/iRob/512/Folder-Home-Folder-icon.png" height="50px" width="50px"/></a></p>
    </body>
</html>